<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <!-- Informations de base -->
    <key>CFBundleDisplayName</key>
    <string>Zorem</string>

    <key>CFBundleIdentifier</key>
    <string>com.example.zorem</string>

    <key>CFBundleName</key>
    <string>Zorem</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>

    <key>CFBundleVersion</key>
    <string>1</string>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>

    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>

    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
    </array>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <!-- Autorisations de localisation -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>L’application utilise votre position pour localiser les places de stationnement à proximité.</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Votre position est utilisée pour afficher les places disponibles autour de vous.</string>

    <!-- Accès Internet -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <!-- Firebase -->
    <key>FirebaseAppDelegateProxyEnabled</key>
    <true/>
    
    <!-- Mapbox Token -->
    <key>MBXAccessToken</key>
    <string>pk.eyJ1IjoiZGdtYXN0ZXJwaWVjZSIsImEiOiJjbTQzbGVoYW4wZWJhMmtzN3h6cDl6Y2N6In0.GNWxZgSeh_Yjym_K0Rpgtg</string>

</dict>
</plist>
